name: CI/CD Pipeline

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main


jobs:
  build:
    runs-on: ubuntu-latest


    steps:      
     # Checkout Code  
     - name: checkout code
       uses: actions/checkout@v3

    # Setup Node JS
     - name: setup NodeJs
       uses: actions/setup-node@v3
       with:
         node_version: '14'
    
    # Install nodejs dependancies     
     - name: Install nodejs dependancies
       run: npm install  
